# Triggers in PostgreSQL - Practice


For this practice, you will connect to the `dsa_student` database and create functions within your schema, i.e., your pawprint should replace SSO below.

# Approximate Starting State of Survey Database 


<div class="row">
<div class="col-md-6">

<p><strong>Person</strong>: people who took readings.</p>

<table>
<thead>
<tr>
<th>id</th>
<th>personal</th>
<th>family</th>
</tr>
</thead>
<tbody>
<tr>
<td>dyer</td>
<td>William</td>
<td>Dyer</td>
</tr>
<tr>
<td>pb</td>
<td>Frank</td>
<td>Pabodie</td>
</tr>
<tr>
<td>lake</td>
<td>Anderson</td>
<td>Lake</td>
</tr>
<tr>
<td>roe</td>
<td>Valentina</td>
<td>Roerich</td>
</tr>
<tr>
<td>danforth</td>
<td>Frank</td>
<td>Danforth</td>
</tr>
</tbody>
</table>

<p><strong>Site</strong>: locations where readings were taken.</p>

<table>
<thead>
<tr>
<th>name</th>
<th>lat</th>
<th>long</th>
</tr>
</thead>
<tbody>
<tr>
<td>DR-1</td>
<td>-49.85</td>
<td>-128.57</td>
</tr>
<tr>
<td>DR-3</td>
<td>-47.15</td>
<td>-126.72</td>
</tr>
<tr>
<td>MSK-4</td>
<td>-48.87</td>
<td>-123.4</td>
</tr>
</tbody>
</table>

<p><strong>Visited</strong>: when readings were taken at specific sites.</p>

<table>
<thead>
<tr>
<th>id</th>
<th>site</th>
<th>dated</th>
</tr>
</thead>
<tbody>
<tr>
<td>619</td>
<td>DR-1</td>
<td>1927-02-08</td>
</tr>
<tr>
<td>622</td>
<td>DR-1</td>
<td>1927-02-10</td>
</tr>
<tr>
<td>734</td>
<td>DR-3</td>
<td>1930-01-07</td>
</tr>
<tr>
<td>735</td>
<td>DR-3</td>
<td>1930-01-12</td>
</tr>
<tr>
<td>751</td>
<td>DR-3</td>
<td>1930-02-26</td>
</tr>
<tr>
<td>752</td>
<td>DR-3</td>
<td>-null-</td>
</tr>
<tr>
<td>837</td>
<td>MSK-4</td>
<td>1932-01-14</td>
</tr>
<tr>
<td>844</td>
<td>DR-1</td>
<td>1932-03-22</td>
</tr>
</tbody>
</table>

</div>
<div class="col-md-6">

<p><strong>Survey</strong>: the actual readings.</p>

<table>
<thead>
<tr>
<th>taken</th>
<th>person</th>
<th>quant</th>
<th>reading</th>
</tr>
</thead>
<tbody>
<tr>
<td>619</td>
<td>dyer</td>
<td>rad</td>
<td>9.82</td>
</tr>
<tr>
<td>619</td>
<td>dyer</td>
<td>sal</td>
<td>0.13</td>
</tr>
<tr>
<td>622</td>
<td>dyer</td>
<td>rad</td>
<td>7.8</td>
</tr>
<tr>
<td>622</td>
<td>dyer</td>
<td>sal</td>
<td>0.09</td>
</tr>
<tr>
<td>734</td>
<td>pb</td>
<td>rad</td>
<td>8.41</td>
</tr>
<tr>
<td>734</td>
<td>lake</td>
<td>sal</td>
<td>0.05</td>
</tr>
<tr>
<td>734</td>
<td>pb</td>
<td>temp</td>
<td>-21.5</td>
</tr>
<tr>
<td>735</td>
<td>pb</td>
<td>rad</td>
<td>7.22</td>
</tr>
<tr>
<td>735</td>
<td>-null-</td>
<td>sal</td>
<td>0.06</td>
</tr>
<tr>
<td>735</td>
<td>-null-</td>
<td>temp</td>
<td>-26.0</td>
</tr>
<tr>
<td>751</td>
<td>pb</td>
<td>rad</td>
<td>4.35</td>
</tr>
<tr>
<td>751</td>
<td>pb</td>
<td>temp</td>
<td>-18.5</td>
</tr>
<tr>
<td>751</td>
<td>lake</td>
<td>sal</td>
<td>0.1</td>
</tr>
<tr>
<td>752</td>
<td>lake</td>
<td>rad</td>
<td>2.19</td>
</tr>
<tr>
<td>752</td>
<td>lake</td>
<td>sal</td>
<td>0.09</td>
</tr>
<tr>
<td>752</td>
<td>lake</td>
<td>temp</td>
<td>-16.0</td>
</tr>
<tr>
<td>752</td>
<td>roe</td>
<td>sal</td>
<td>41.6</td>
</tr>
<tr>
<td>837</td>
<td>lake</td>
<td>rad</td>
<td>1.46</td>
</tr>
<tr>
<td>837</td>
<td>lake</td>
<td>sal</td>
<td>0.21</td>
</tr>
<tr>
<td>837</td>
<td>roe</td>
<td>sal</td>
<td>22.5</td>
</tr>
<tr>
<td>844</td>
<td>roe</td>
<td>rad</td>
<td>11.25</td>
</tr>
</tbody>
</table>

</div>
</div>

## Multi-Row Update

We start this practice where we left off in the lab.


### 1. Let's look at what happens when we update multiple rows with a single command.

```SQL
UPDATE SSO.survey 
SET reading = reading + 0.01
WHERE person = 'roe';
```

# Paste your Edit of the UPDATE statement below this line

UPDATE jch5x8.survey 
SET reading = reading + 0.01
WHERE person = 'roe';

# Paste your Edit of the SELECT and Result statement below this line

dsa_student=> SELECT * FROM jch5x8.survey_audit;
 taken | person | quant |          change_time          | old_reading | new_reading
-------+--------+-------+-------------------------------+-------------+-------------
   751 | lake   | sal   | 2021-11-18 19:05:07.297114-06 |         0.1 |       0.111
   751 | lake   | sal   | 2021-11-18 19:09:06.025188-06 |       0.111 |         0.1
   752 | roe    | sal   | 2021-11-19 20:59:31.679954-06 |        41.6 |       41.61
   837 | roe    | sal   | 2021-11-19 20:59:31.679954-06 |        22.5 |       22.51
   844 | roe    | rad   | 2021-11-19 20:59:31.679954-06 |       11.25 |       11.26
(5 rows)

#### Is this what you expected for the multiple row update?  Yes or No, and why?

# Provide your answer below.

Yes this is what I expected, as the trigger fires after a row is updated. Roe has three entries and there are three rows added making changes to Roe's readings.

--- 

## Additional triggers


### 2 Add an Insert Audit for the Survey Table


#### 2.1 Here is the trigger function definition.

```SQL
CREATE OR REPLACE FUNCTION SSO.audit_SSO_survey_reading_insert()
  RETURNS TRIGGER 
  AS
$$
BEGIN
   INSERT INTO SSO.survey_audit
       (taken, person, quant, old_reading, new_reading)
   VALUES
       (NEW.taken, NEW.person, NEW.quant, NULL, NEW.reading);
   RETURN NEW;
END;
$$
LANGUAGE PLPGSQL;
```

# Copy - Paste - Edit your trigger function below this line

CREATE OR REPLACE FUNCTION jch5x8.audit_jch5x8_survey_reading_insert()
  RETURNS TRIGGER 
  AS
$$
BEGIN
   INSERT INTO jch5x8.survey_audit
       (taken, person, quant, old_reading, new_reading)
   VALUES
       (NEW.taken, NEW.person, NEW.quant, NULL, NEW.reading);
   RETURN NEW;
END;
$$
LANGUAGE PLPGSQL;

#### 2.2 Why did we change using the `OLD` implicit variable to the `NEW` implicit variable when compared to the lab example for the change audit?

# Provide 2.2. Answer: 

Because now we are insterting rows into the audit table directly instead of comparing a change in the survey table and recording that change.


#### 2.3 Here is the trigger definition.

```SQL
DROP TRIGGER IF EXISTS SSO_survey_insert_audit ON SSO.survey;

CREATE TRIGGER SSO_survey_insert_audit
  AFTER INSERT
  ON SSO.survey
  FOR EACH ROW
  EXECUTE PROCEDURE SSO.audit_SSO_survey_reading_insert();

```

# Copy - Paste - Edit your trigger function below this line

DROP TRIGGER IF EXISTS jch5x8_survey_insert_audit ON jch5x8.survey;

CREATE TRIGGER jch5x8_survey_insert_audit
  AFTER INSERT
  ON jch5x8.survey
  FOR EACH ROW
  EXECUTE PROCEDURE jch5x8.audit_jch5x8_survey_reading_insert();

After your trigger is created and added, the table describe should look similar to below.

```SQL
dsa_student=# \d SSO.survey
               Table "SSO.survey"
 Column  |  Type   | Collation | Nullable | Default
---------+---------+-----------+----------+---------
 taken   | integer |           |          |
 person  | text    |           |          |
 quant   | text    |           |          |
 reading | real    |           |          |
Triggers:
    SSO_survey_insert_audit AFTER INSERT ON survey FOR EACH ROW EXECUTE PROCEDURE audit_SSO_survey_reading_insert()
    SSO_survey_update_audit AFTER UPDATE ON survey FOR EACH ROW EXECUTE PROCEDURE audit_SSO_survey_reading_changes()
```


#### 2.4 Test your audit function with the new data entry below

```SQL
INSERT INTO SSO.survey VALUES (619,'roe','rad',101);
```

Then

```SQL
select * from SSO.survey_audit ;
```

# Paste your Edit of the UPDATE statement below this line

INSERT INTO jch5x8.survey VALUES (619,'roe','rad',101);

# Paste your Edit of the SELECT and Result statement below this line

dsa_student=> INSERT INTO jch5x8.survey VALUES (619,'roe','rad',101);
INSERT 0 1
dsa_student=> select * from jch5x8.survey_audit;
 taken | person | quant |          change_time          | old_reading | new_reading
-------+--------+-------+-------------------------------+-------------+-------------
   751 | lake   | sal   | 2021-11-18 19:05:07.297114-06 |         0.1 |       0.111
   751 | lake   | sal   | 2021-11-18 19:09:06.025188-06 |       0.111 |         0.1
   752 | roe    | sal   | 2021-11-19 20:59:31.679954-06 |        41.6 |       41.61
   837 | roe    | sal   | 2021-11-19 20:59:31.679954-06 |        22.5 |       22.51
   844 | roe    | rad   | 2021-11-19 20:59:31.679954-06 |       11.25 |       11.26
   619 | roe    | rad   | 2021-11-19 21:26:48.668515-06 |             |         101
   619 | roe    | rad   | 2021-11-19 21:27:06.950154-06 |             |         101
(7 rows)

Approximate audit results are below. 
```SQL
 taken | person | quant |          change_time          | old_reading | new_reading
-------+--------+-------+-------------------------------+-------------+-------------
   751 | lake   | sal   | 2024-12-31 08:08:07.991284-06 |         0.1 |       0.111
   751 | lake   | sal   | 2024-12-31 08:14:22.659717-06 |       0.111 |         0.1
    .
    .
    .
   619 | roe    | rad   | 2024-12-31 08:49:52.902845-06 |             |         101
(9 rows)
```

Notice the NULL value in the `old_reading` column for this audit record.

----

## 3 Multi-row Inserts


Below is a multi-row insert statement.

```SQL
INSERT INTO SSO.survey VALUES 
(619,'lake','rad',8.72),
(619,'lake','sal',2.03),
(622,'lake','rad',8.8),
(622,'lake','sal',1.9)
;
```

In the cells below, 
 1. Edit the insert statement.
 2. Run the insert statement.
 3. Show the data in the survey table.
 4. Show the resulting audit rows.

# 3.1 Copy - Paste - Edit the insert statement below this line.

INSERT INTO jch5x8.survey VALUES 
(619,'lake','rad',8.72),
(619,'lake','sal',2.03),
(622,'lake','rad',8.8),
(622,'lake','sal',1.9);

# 3.2 Show Result of running the insert statement in the terminal

INSERT 0 4

# 3.3 Show the data in the survey table

 taken | person | quant | reading
-------+--------+-------+---------
   619 | dyer   | rad   |    9.82
   619 | dyer   | sal   |    0.13
   622 | dyer   | rad   |     7.8
   622 | dyer   | sal   |    0.09
   734 | pb     | rad   |    8.41
   734 | lake   | sal   |    0.05
   734 | pb     | temp  |   -21.5
   735 | pb     | rad   |    7.22
   735 |        | sal   |    0.06
   735 |        | temp  |     -26
   751 | pb     | rad   |    4.35
   751 | pb     | temp  |   -18.5
   752 | lake   | rad   |    2.19
   752 | lake   | sal   |    0.09
   752 | lake   | temp  |     -16
   837 | lake   | rad   |    1.46
   837 | lake   | sal   |    0.21
   751 | lake   | sal   |     0.1
   752 | roe    | sal   |   41.61
   837 | roe    | sal   |   22.51
   844 | roe    | rad   |   11.26
   619 | roe    | rad   |     101
   619 | roe    | rad   |     101
   619 | lake   | rad   |    8.72
   619 | lake   | sal   |    2.03
   622 | lake   | rad   |     8.8
   622 | lake   | sal   |     1.9
(27 rows)

# 3.4 Show the resulting audit rows.

 taken | person | quant |          change_time          | old_reading | new_reading
-------+--------+-------+-------------------------------+-------------+-------------
   751 | lake   | sal   | 2021-11-18 19:05:07.297114-06 |         0.1 |       0.111
   751 | lake   | sal   | 2021-11-18 19:09:06.025188-06 |       0.111 |         0.1
   752 | roe    | sal   | 2021-11-19 20:59:31.679954-06 |        41.6 |       41.61
   837 | roe    | sal   | 2021-11-19 20:59:31.679954-06 |        22.5 |       22.51
   844 | roe    | rad   | 2021-11-19 20:59:31.679954-06 |       11.25 |       11.26
   619 | roe    | rad   | 2021-11-19 21:26:48.668515-06 |             |         101
   619 | roe    | rad   | 2021-11-19 21:27:06.950154-06 |             |         101
   619 | lake   | rad   | 2021-11-19 21:39:56.894566-06 |             |        8.72
   619 | lake   | sal   | 2021-11-19 21:39:56.894566-06 |             |        2.03
   622 | lake   | rad   | 2021-11-19 21:39:56.894566-06 |             |         8.8
   622 | lake   | sal   | 2021-11-19 21:39:56.894566-06 |             |         1.9
(11 rows)

#### 3.5 How many audit rows did the multi-insert produce, and why?

# Write your answer below this line.

The multi-line insert produced four lines in both the audit and survey tables because we inserted four new readings.

# Save your notebook, then `File > Close and Halt`