# Views Exercise


This exercise requires you to have completed the task of Module 2, Exercise [Database Create and Load](../../module2/exercises/CreateAndLoadSurveyDB.ipynb).

Recall from the exercise that you loaded this [survey.db.sql](../../module2/exercises//survey.db.sql) file.
This created the familiar Survey database with the tables:
 * Person
 * Site
 * Visited
 * Survey
 
For this exercise, you will create a couple views over the Survey tables.

<div class="row">
<div class="col-md-6">

<p>  
<strong>Person</strong>: people who took readings.</p>

<table>
<thead>
<tr>
<th>id</th>
<th>personal</th>
<th>family</th>
</tr>
</thead>
<tbody>
<tr>
<td>dyer</td>
<td>William</td>
<td>Dyer</td>
</tr>
<tr>
<td>pb</td>
<td>Frank</td>
<td>Pabodie</td>
</tr>
<tr>
<td>lake</td>
<td>Anderson</td>
<td>Lake</td>
</tr>
<tr>
<td>roe</td>
<td>Valentina</td>
<td>Roerich</td>
</tr>
<tr>
<td>danforth</td>
<td>Frank</td>
<td>Danforth</td>
</tr>
</tbody>
</table>


<strong>Site</strong>: locations where readings were taken.</p>

<table>
<thead>
<tr>
<th>name</th>
<th>lat</th>
<th>long</th>
</tr>
</thead>
<tbody>
<tr>
<td>DR-1</td>
<td>-49.85</td>
<td>-128.57</td>
</tr>
<tr>
<td>DR-3</td>
<td>-47.15</td>
<td>-126.72</td>
</tr>
<tr>
<td>MSK-4</td>
<td>-48.87</td>
<td>-123.4</td>
</tr>
</tbody>
</table>

<p><strong>Visited</strong>: when readings were taken at specific sites.</p>

<table>
<thead>
<tr>
<th>id</th>
<th>site</th>
<th>dated</th>
</tr>
</thead>
<tbody>
<tr>
<td>619</td>
<td>DR-1</td>
<td>1927-02-08</td>
</tr>
<tr>
<td>622</td>
<td>DR-1</td>
<td>1927-02-10</td>
</tr>
<tr>
<td>734</td>
<td>DR-3</td>
<td>1930-01-07</td>
</tr>
<tr>
<td>735</td>
<td>DR-3</td>
<td>1930-01-12</td>
</tr>
<tr>
<td>751</td>
<td>DR-3</td>
<td>1930-02-26</td>
</tr>
<tr>
<td>752</td>
<td>DR-3</td>
<td>-null-</td>
</tr>
<tr>
<td>837</td>
<td>MSK-4</td>
<td>1932-01-14</td>
</tr>
<tr>
<td>844</td>
<td>DR-1</td>
<td>1932-03-22</td>
</tr>
</tbody>
</table>

</div>
<div class="col-md-6">

<p><strong>Survey</strong>: the actual readings.</p>

<table>
<thead>
<tr>
<th>taken</th>
<th>person</th>
<th>quant</th>
<th>reading</th>
</tr>
</thead>
<tbody>
<tr>
<td>619</td>
<td>dyer</td>
<td>rad</td>
<td>9.82</td>
</tr>
<tr>
<td>619</td>
<td>dyer</td>
<td>sal</td>
<td>0.13</td>
</tr>
<tr>
<td>622</td>
<td>dyer</td>
<td>rad</td>
<td>7.8</td>
</tr>
<tr>
<td>622</td>
<td>dyer</td>
<td>sal</td>
<td>0.09</td>
</tr>
<tr>
<td>734</td>
<td>pb</td>
<td>rad</td>
<td>8.41</td>
</tr>
<tr>
<td>734</td>
<td>lake</td>
<td>sal</td>
<td>0.05</td>
</tr>
<tr>
<td>734</td>
<td>pb</td>
<td>temp</td>
<td>-21.5</td>
</tr>
<tr>
<td>735</td>
<td>pb</td>
<td>rad</td>
<td>7.22</td>
</tr>
<tr>
<td>735</td>
<td>-null-</td>
<td>sal</td>
<td>0.06</td>
</tr>
<tr>
<td>735</td>
<td>-null-</td>
<td>temp</td>
<td>-26.0</td>
</tr>
<tr>
<td>751</td>
<td>pb</td>
<td>rad</td>
<td>4.35</td>
</tr>
<tr>
<td>751</td>
<td>pb</td>
<td>temp</td>
<td>-18.5</td>
</tr>
<tr>
<td>751</td>
<td>lake</td>
<td>sal</td>
<td>0.1</td>
</tr>
<tr>
<td>752</td>
<td>lake</td>
<td>rad</td>
<td>2.19</td>
</tr>
<tr>
<td>752</td>
<td>lake</td>
<td>sal</td>
<td>0.09</td>
</tr>
<tr>
<td>752</td>
<td>lake</td>
<td>temp</td>
<td>-16.0</td>
</tr>
<tr>
<td>752</td>
<td>roe</td>
<td>sal</td>
<td>41.6</td>
</tr>
<tr>
<td>837</td>
<td>lake</td>
<td>rad</td>
<td>1.46</td>
</tr>
<tr>
<td>837</td>
<td>lake</td>
<td>sal</td>
<td>0.21</td>
</tr>
<tr>
<td>837</td>
<td>roe</td>
<td>sal</td>
<td>22.5</td>
</tr>
<tr>
<td>844</td>
<td>roe</td>
<td>rad</td>
<td>11.25</td>
</tr>
</tbody>
</table>

</div>
</div>

Open a terminal tab and connect to your schema in the `dsa_student` database on the `pgsql.dsa.lan` machine.

#### Recall from the lab the CREATE VIEW syntax, noting we are using CREATE OR REPLACE

```SQL
CREATE OR REPLACE VIEW SSO.VIEW_NAME 
AS 
SELECT_STATEMENT
```

 
Be sure to remove redundant columns and rename columns to clear up ambiguities!

## 1 Create a view of the all readings and there from the `DR*` sites, using a Type-1 nested query.
Be sure to Update the SSO to your pawprint!

We are going to name this view `all_dr_measurements`

# 1.1 SQL

CREATE OR REPLACE VIEW
    jch5x8.all_dr_measurements
AS

SELECT  s.reading
        ,v.site
FROM    jch5x8.survey s JOIN jch5x8.visited v
        ON (v.id::int = s.taken::int)
WHERE   v.site LIKE 'DR%';

# 1.2 Definition from DB

                    View "jch5x8.all_dr_measurements"
 Column  | Type | Collation | Nullable | Default | Storage  | Description
---------+------+-----------+----------+---------+----------+-------------
 reading | real |           |          |         | plain    |
 site    | text |           |          |         | extended |
View definition:
 SELECT s.reading,
    v.site
   FROM survey s
     JOIN visited v ON v.id::integer = s.taken
  WHERE v.site ~~ 'DR%'::text;

# 1.3 Paste Select * Results Here

dsa_student=> select * from jch5x8.all_dr_measurements;
 reading | site
---------+------
    9.82 | DR-1
    0.13 | DR-1
     7.8 | DR-1
    0.09 | DR-1
    8.41 | DR-3
    0.05 | DR-3
   -21.5 | DR-3
    7.22 | DR-3
    0.06 | DR-3
     -26 | DR-3
    4.35 | DR-3
   -18.5 | DR-3
    2.19 | DR-3
    0.09 | DR-3
     -16 | DR-3
     0.1 | DR-3
   41.61 | DR-3
   11.26 | DR-1
     101 | DR-1
     101 | DR-1
    8.72 | DR-1
    2.03 | DR-1
     8.8 | DR-1
     1.9 | DR-1
(24 rows)

## 2 Create a view that list all readings from the Survey table along with the associated Latitude and Longitude position from the Site table and the date of the reading for data collected by Anderson Lake.
Name this view: `anderson_lake_collections`

# 2.1 SQL

CREATE OR REPLACE VIEW
    jch5x8.anderson_lake_collections
AS

SELECT  s.reading
        ,site.lat
        ,site.long
        ,v.dated
FROM    jch5x8.survey s JOIN jch5x8.visited v
        ON (v.id::int = s.taken::int)
        JOIN jch5x8.site site
        ON site.name = v.site
WHERE   s.person = 'lake';

# 2.2 Definition from DB

                 View "jch5x8.anderson_lake_collections"
 Column  | Type | Collation | Nullable | Default | Storage  | Description
---------+------+-----------+----------+---------+----------+-------------
 reading | real |           |          |         | plain    |
 lat     | real |           |          |         | plain    |
 long    | real |           |          |         | plain    |
 dated   | text |           |          |         | extended |
View definition:
 SELECT s.reading,
    site.lat,
    site.long,
    v.dated
   FROM survey s
     JOIN visited v ON v.id::integer = s.taken
     JOIN site site ON site.name = v.site
  WHERE s.person = 'lake'::text;

# 2.3 Paste Select * Results Here

 reading |  lat   |  long   |   dated
---------+--------+---------+------------
     8.8 | -49.85 | -128.57 | 1927-02-10
     1.9 | -49.85 | -128.57 | 1927-02-10
    8.72 | -49.85 | -128.57 | 1927-02-08
    2.03 | -49.85 | -128.57 | 1927-02-08
    2.19 | -47.15 | -126.72 |
    0.09 | -47.15 | -126.72 |
     -16 | -47.15 | -126.72 |
     0.1 | -47.15 | -126.72 | 1930-02-26
    0.05 | -47.15 | -126.72 | 1930-01-07
    1.46 | -48.87 |  -123.4 | 1932-01-14
    0.21 | -48.87 |  -123.4 | 1932-01-14
(11 rows)

## 3 Create a view that list each person, location, and associated measurements for readings that are undated.

Name this view: `undated_survey_measurements`

# 3.1 SQL

CREATE OR REPLACE VIEW
    jch5x8.undated_survey_measurements
AS

SELECT  s.person
        ,v.site
        ,s.reading
        ,v.dated
FROM    jch5x8.survey s JOIN jch5x8.visited v
        ON (v.id::int = s.taken::int)
WHERE   v.dated IS NULL;

# 3.2 Definition from DB

                View "jch5x8.undated_survey_measurements"
 Column  | Type | Collation | Nullable | Default | Storage  | Description
---------+------+-----------+----------+---------+----------+-------------
 person  | text |           |          |         | extended |
 site    | text |           |          |         | extended |
 reading | real |           |          |         | plain    |
 dated   | text |           |          |         | extended |
View definition:
 SELECT s.person,
    v.site,
    s.reading,
    v.dated
   FROM survey s
     JOIN visited v ON v.id::integer = s.taken
  WHERE v.dated IS NULL;

# 3.3 Paste Select * Results Here

 person | site | reading | dated
--------+------+---------+-------
 lake   | DR-3 |    2.19 |
 lake   | DR-3 |    0.09 |
 lake   | DR-3 |     -16 |
 roe    | DR-3 |   41.61 |
(4 rows)

# Save your notebook, then `File > Close and Halt`